.myclass{background-color : yellow; 
margin-top: 50px; margin: auto; padding-top : 130;}
.myclass{height : 200px; width : 500px; background-color : yellow;}
#myusername{height : 30px;}
#mypassword{height : 30px; }
#submitbutton{height:10px;}
#submitbutton{margin-top: 5px; height: 20px;}